* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Avenir;
}

#root {
  width: 30%;
  max-width: 30%;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #0a9248;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
  width: 100px;
}

div button {
  width: 100%;
}

hr {
  margin-top: 20px;
  border: 1px solid #f2f2f2;
}
